version: "3.9"

services:
  admin:
    build: .
    image: tarzon_store_admin
    container_name: tarzon-store-admin
    ports:
      - "3001:3000"
    env_file:
      - ./.env
    restart: unless-stopped
